{% load thumbnail %}
<div class="barra_usuario">
    <div class="conteudo_pagina"> 
        <div class="img_nome">
            <div class = espaco_nome >
                {% if user.get_full_name != ''  %}             
                    <h2 class="nome" >{{ user.get_full_name }}</h2>
                {% else %}
                    <h2 class="nome" > Djeefther Souza Viado </h2>
                {% endif %}
            </div>

            <div class="img_link" >
                {% thumbnail user_image "120x120" as im %}
					<img class = "img_perfil" src="{{ im.url }}" alt="Foto DJ">
				{% endthumbnail %}
                <div class="link_altera_image" > 
                    <a href="#">Alterar Imagem</a>
                </div>
            </div>
        </div> 

		<div class="barra_botoes">
	        <div class="barra_usuario_botao" id="fazer_pedido_user" >
	            <a href="#">Fazer Pedido</a>
	        </div>  
	        <div class="barra_usuario_botao" id="pagamentos_abertos" >
	            <a href="#">Pagamentos em Aberto</a>
	        </div>  
	        <div class="barra_usuario_botao" id="pedido_entregue_user" >
	            <a href="#">Pedidos a Serem Entregues</a>
	        </div>  
		</div>
    </div>
</div>
