<html>
<head>
    <title>Cadastro de Cliente</title>

    <script type="text/html" id="telefone-template">
        <div id="telefone-__prefix__">
            {{ form.telefone_formset.empty_form.telefone }}
        </div>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            cpf = $('#cpf_wrapper');
            cpf.hide();
            cnpj = $('#cnpj_wrapper');
            cnpj.hide();

            clear_fields = function () {
                rad = $('input[name=tipo]');
                valor = rad.filter(':checked').val();
                if (valor == "fisica") {
                    cpf.show();
                    $('#id_cpf').attr('required', true);
                    cnpj.hide();
                    $('#id_cnpj').attr('required', false);
                    $('#id_cnpj').val("");
                } else if (valor == "juridica") {
                    cnpj.show();
                    $('#id_cnpj').attr('required', true);
                    cpf.hide();
                    $('#id_cpf').attr('required', false);
                    $('#id_cpf').val("");
                } else {
                    cpf.hide();
                    $('#id_cpf').attr('required', false);
                    cnpj.hide();
                    $('#id_cnpj').attr('required', false);
                    $('#id_cpf').val("");
                    $('#id_cnpj').val("");
                }
            };

            clear_fields();

            $('#id_tipo').click(function () {
                clear_fields();
            });

            $('.add-telefone').click(function (ev) {
                ev.preventDefault();
                var count = $('#telefones_forms_container').children().length - 1; //Nao sei por que aqui fica -1
                var tmplMarkup = $('#telefone-template').html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                $('div#telefones_forms_container').append(compiledTmpl);

                $('#id_telefones-TOTAL_FORMS').attr('value', count + 1); //E aqui +1, mas funciona assim
            });
        });
    </script>
</head>
<body>

<h1> Cadastro de Cliente</h1>

<form action="{% url 'cadastrar_pessoa' %}" method="post" id="cadastro">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="fieldWrapper">
    {% if form.login.errors %}
    <ol>
        {% for error in form.login.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_login">Login:<br/></label>
    {{ form.login }}
</div>
<div class="fieldWrapper">
    {% if form.nome.errors %}
    <ol>
        {% for error in form.nome.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_nome">Nome:<br/></label>
    {{ form.nome }}
</div>
<div class="fieldWrapper">
    {% if form.password1.errors %}
    <ol>
        {% for error in form.password1.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_password1">Senha:<br/></label>
    {{ form.password1 }}
</div>
<div class="fieldWrapper">
    {% if form.password2.errors %}
    <ol>
        {% for error in form.password2.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_password2">Repita a senha:<br/></label>
    {{ form.password2 }}
</div>

{{ form.telefone_formset.management_form }}
<div id="telefones_forms_container">
    Telefone(s): <br/>
    {% for telefoneform in form.telefone_formset %}

    {% if telefoneform.telefone.errors %}
    <ol>
        {% for error in telefoneform.telefone.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}

    <div id="telefone-{{ forloop.counter0 }}">
        {{ telefoneform.telefone }}
        {% if forloop.counter0 == 0 %}
        <a href="#" id="add_telefone" class="btn btn-info add-telefone"><img src="/static/admin/img/icon_addlink.gif"
                                                                             width="10" height="10"
                                                                             alt="Adicionar Outro"/></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="fieldWrapper">
    {% if form.email.errors %}
    <ol>
        {% for error in form.email.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_email"><i>E-mail</i>:<br/></label>
    {{ form.email }}
</div>
<br/>Endereço: <br/>

<div class="fieldWrapper">
    {% if form.estado.errors %}
    <ol>
        {% for error in form.estado.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_estado">Estado:<br/></label>
    &emsp;&emsp;{{ form.estado }}
</div>
<div class="fieldWrapper">
    {% if form.cidade.errors %}
    <ol>
        {% for error in form.cidade.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_cidade">Cidade:<br/></label>
    &emsp;&emsp;{{ form.cidade }}
</div>
<div class="fieldWrapper">
    {% if form.cep.errors %}
    <ol>
        {% for error in form.cep.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_cep">CEP:<br/></label>
    &emsp;&emsp;{{ form.cep }}
</div>
<div class="fieldWrapper">
    {% if form.rua.errors %}
    <ol>
        {% for error in form.rua.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_rua">Rua:<br/></label>
    &emsp;&emsp;{{ form.rua }}
</div>
<div class="fieldWrapper">
    {% if form.numero.errors %}
    <ol>
        {% for error in form.numero.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_numero">Número:<br/></label>
    &emsp;&emsp;{{ form.numero }}
</div>
<div class="fieldWrapper">
    {% if form.bairro.errors %}
    <ol>
        {% for error in form.bairro.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_bairro">Bairro:<br/></label>
    &emsp;&emsp;{{ form.bairro }}
</div>
<div class="fieldWrapper">
    {% if form.complemento.errors %}
    <ol>
        {% for error in form.complemento.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    &emsp;&emsp;<label for="id_complemento"><i>Complemento</i>:<br/></label>
    &emsp;&emsp;{{ form.complemento }}
</div>
<br/>

<div class="fieldWrapper">
    {% if form.sexo.errors %}
    <ol>
        {% for error in form.sexo.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_sexo">Sexo:<br/></label>
    {{ form.sexo }}
</div>
<div class="fieldWrapper">
    {% if form.tipo.errors %}
    <ol>
        {% for error in form.tipo.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_tipo">Tipo de conta:<br/></label>
    {{ form.tipo }}
</div>
<div class="fieldWrapper" id="cpf_wrapper">
    {% if form.cpf.errors %}
    <ol>
        {% for error in form.cpf.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_cpf">CPF:<br/></label>
    {{ form.cpf }}
</div>
<div class="fieldWrapper" id="cnpj_wrapper">
    {% if form.cnpj.errors %}
    <ol>
        {% for error in form.cnpj.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}
    <label for="id_cnpj">CNPJ:<br/></label>
    {{ form.cnpj }}
</div>

<br/>
<input type="submit" value="Cadastrar" id="id_cadastrar"/>
</form>

</html>
