<html>
<head>
    <title>Cadastro de Cliente</title>

    <script type="text/html" id="pedido_produto-template">
        <div id="pedido_produto-__prefix__">
            Produto: <br/>
            {{ form.pedido_produto_formset.empty_form.produto }} <br/>
            Preço: <br/>
            {{ form.pedido_produto_formset.empty_form.preco }} <br/>
            Desconto: <br/>
            {{ form.pedido_produto_formset.empty_form.desconto }} <br/>
            Quantidade: <br/>
            {{ form.pedido_produto_formset.empty_form.quantidade }} <br/>
            <br/> <br/>
        </div>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            updateValor = function () {
                valorTotal = 0;
                for (i = 0; i < $('#pedido_produto_forms_container').children().length - 1; i++) {
                    preco = $('#id_pedidoprodutos-' + i + '-preco').val();
                    desconto = $('#id_pedidoprodutos-' + i + '-desconto').val();
                    quantidade = $('#id_pedidoprodutos-' + i + '-quantidade').val();
                    if (preco && desconto && quantidade) {
                        valorTotal = valorTotal + (preco - desconto) * quantidade;
                    }
                }
                $('#id_valor_total').attr('value', valorTotal.toFixed(2));

            }
            setPreco = function (count, prod_id) {
                $.ajax({
                    type: "POST",
                    data: { action: "get_preco", id: prod_id, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function (data) {
                        $('#id_pedidoprodutos-' + count + '-preco').attr('value', data.preco);
                        updateValor();
                    },
                    error: function (xhr, errmsg, err) {
                        alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            };
            $('.add-pedido_produto').click(function (ev) {
                ev.preventDefault();
                var count = $('#pedido_produto_forms_container').children().length - 1; //Nao sei por que aqui fica -1
                var tmplMarkup = $('#pedido_produto-template').html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                $('div#pedido_produto_forms_container').append(compiledTmpl);

                $('#id_pedidoprodutos-TOTAL_FORMS').attr('value', count + 1); //E aqui +1, mas funciona assim

                $('#id_pedidoprodutos-' + count + '-desconto').change(function (ev) {
                    prod_id = $('#id_pedidoprodutos-' + count + '-produto').val();
                    setPreco(count, prod_id);
                });
                $('#id_pedidoprodutos-' + count + '-produto').change(function (ev) {
                    prod_id = $('#id_pedidoprodutos-' + count + '-produto').val();
                    setPreco(count, prod_id);
                });
                $('#id_pedidoprodutos-' + count + '-quantidade').change(function (ev) {
                    prod_id = $('#id_pedidoprodutos-' + count + '-produto').val();
                    setPreco(count, prod_id);
                });
            });
            $('#id_pedidoprodutos-0-desconto').change(function (ev) {
                prod_id = $('#id_pedidoprodutos-0-produto').val();
                setPreco(0, prod_id);
            });
            $('#id_pedidoprodutos-0-produto').change(function (ev) {
                prod_id = $('#id_pedidoprodutos-0-produto').val();
                setPreco(0, prod_id);
            });
            $('#id_pedidoprodutos-0-quantidade').change(function (ev) {
                prod_id = $('#id_pedidoprodutos-0-produto').val();
                setPreco(0, prod_id);
            });
        });
    </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_data_entrega").datepicker();
        });
    </script>
</head>
<body>

<h1>Novo Pedido</h1>

<form action="{% url 'cadastrar_pedido_admin' %}" method="post" id="cadastro">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {% if form.usuario.errors %}
        <ol>
            {% for error in form.usuario.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_usuario">Usuario:<br/></label>
        {{ form.usuario }}
    </div>
    <div class="fieldWrapper">
        {% if form.data_entrega.errors %}
        <ol>
            {% for error in form.data_entrega.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_data_entrega">Data de entrega:<br/></label>
        {{ form.data_entrega }}
    </div>
    <div class="fieldWrapper">
        {% if form.valor_pago.errors %}
        <ol>
            {% for error in form.valor_pago.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_valor_pago">Valor Pago:<br/></label>
        {{ form.valor_pago }}
    </div>
    <div class="fieldWrapper">
        {% if form.cancelado.errors %}
        <ol>
            {% for error in form.cancelado.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_cancelado">Cancelado:<br/></label>
        {{ form.cancelado }}
    </div>
    <div class="fieldWrapper">
        {% if form.entregue.errors %}
        <ol>
            {% for error in form.entregue.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_entregue">Entregue:<br/></label>
        {{ form.entregue }}
    </div>
    <div class="fieldWrapper">
        {% if form.pago.errors %}
        <ol>
            {% for error in form.pago.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_pago">Pago:<br/></label>
        {{ form.pago }}
    </div>
    <div class="fieldWrapper">
        {% if form.valor_total.errors %}
        <ol>
            {% for error in form.valor_total.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_valor_total">Valor Total:<br/></label>
        {{ form.valor_total }}
    </div>
    <div class="fieldWrapper">
        {% if form.observacao.errors %}
        <ol>
            {% for error in form.observacao.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}
        <label for="id_observacao">Observação:<br/></label>
        {{ form.observacao }}
    </div>

    {{ form.pedido_produto_formset.management_form }}
    <div id="pedido_produto_forms_container">
        <b>Carrinho:</b> <br/>
        {% for pedido_produto in form.pedido_produto_formset %}
        {% if pedido_produto.produto.errors %}
        <ol>
            {% for error in pedido_produto.pedido.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}

        <div id="pedido_produto-{{ forloop.counter0 }}">
            Produto: <br/>
            {{ pedido_produto.produto }}
            {% if forloop.counter0 == 0 %}
            <a href="#" id="add_pedido_produto" class="btn btn-info add-pedido_produto"><img
                    src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Adicionar Outro"/></a> <br/>
            Preço: <br/>
            {{ pedido_produto.preco }} <br/>
            Desconto: <br/>
            {{ pedido_produto.desconto }} <br/>
            Quantidade: <br/>
            {{ pedido_produto.quantidade }} <br/> <br/>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <br/>
    <input type="submit" value="Cadastrar" id="id_cadastrar"/>
</form>

</html>
