@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

body {
    margin: 0 0 0 0;
	font: 70% verdana, hevetica, sans-serif;
    background-color: rgb(255, 255, 255);
    min-width: 1024px;	
	overflow:hidden;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#pagina {
	width: 100%;
	height: auto;
    background-color: rgba(0, 82, 156, 0.5);
}

#top_bar {
    background-color: rgba(148, 200, 46, 1);

    width: 100%;
    height: 65px;

    position: fixed;
    top: 0;
}

#logo{
    width: 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-left: 40px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

#marcadagua {
    width: 200;
    height: 200;

    position: absolute;

    bottom: 0;
    right: 10;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

#login {
    width: 280px;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
}


#esqueceu a{
	color: rgb(50,50,50);
	text-decoration: none;
    font-weight: bold;
    font-size: 9px;

}

td {
    width: 7em;
}

input[type=checkbox] + label {
    display: inline-block;
}

#lembrar{
	color: rgb(50,50,50);
	text-decoration: none;
    font-weight: bold;
    font-size: 9px;
}

#errou{
	color: rgb(255,0,0);
	text-decoration: none;
    font-weight: bold;
    font-size: 7px;
}

#conteudo {
    /*background: rgba(0, 177, 106, 0.2);*/
    background-size: auto 100%;
    position: absolute;
    bottom: 20px;
    top: 65px;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
}

.pagina {
    width: 720px;
    height: 90%;
    position: absolute;
    top: 3%;
    margin: auto;
    bottom: 3%;
    right: calc((100vw - 1020px)/2);
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    background: rgba(148, 200, 46, 0.3);
    min-height: 500px;
}

.barra_usuario {
    width: 270px;
    height: 90%;
    min-height: 500px;
    position: absolute;
    margin: auto;
    top: 3%;
    left: calc((100vw - 1020px)/2);
    bottom: 3%;

    overflow: hidden;

    background: rgba(148, 200, 46, 0.3);
}

.barra_botoes {
	margin: 70 auto;
}

.barra_usuario_botao{
    background: rgba(255, 255, 255,1 );

    width: 200px;
    float: center;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(127, 127, 127, 1);
    opacity: 0.7;

    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;

	margin: 5 auto;

	clear: left;
}

.barra_usuario_link {
    opacity: 1;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.barra_usuario_botao:hover {
    opacity: 1;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.barra_usuario_link:hover {
    color: rgb(90, 120, 90);
}

.img_nome {
    height: 120;
    width: 100%;
}

.img_link {
    width: 40%;
    position: absolute;
}

.img_perfil {
    width: 100%;
    height: auto;
    float: left;
    margin: 12 8;
}

.nome{
    text-align: center;
}

.link_altera_image{
    background: rgba(255, 255, 255,1 );

    width: 100%;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(127, 127, 127, 1);
    opacity: 0.7;

    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;

    margin: 5 8;
    clear: left;
}

.link_altera_image  a{
    font-size: 3;
}

.link_altera_image a {
    opacity: 1;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 8px;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.link_altera_image:hover {
    opacity: 1;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.link_altera_image:hover a {
    color: rgb(90, 120, 90);
}

.espaco_nome {    
    float:right;
    width: 50%;
    margin: 12 5;
}

.pagina_nao_logada {
    width: 60%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 3%;
    left: 0;
    bottom: 3%;
    right: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    background: rgba(148, 200, 46, 0.3);
	min-height: 500px;
	min-width: 800px;
}


.conteudo_pagina {
    position: absolute;
    top: 3%;
    left: 3%;
    bottom: 3%;
    right: 3%;

    background: rgb(121, 177, 40);

    overflow: auto;

	display: table-cell;

    text-align: justify;
    text-justify: inter-word;

	font-family: 'Raleway', Arial, sans-serif;
	font-size: 2.2vh;

	color: rgb(255,255,255);

}

.conteudo_pagina > table {
	width: 100%;
    text-align: justify;
    text-justify: inter-word;
	vertical-align: text-top;

	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

.pagina_atual,
.no-js .pagina {
    visibility: visible;
}

.no-js body {
    overflow: auto;
}

.pt-page-scaleDown {
    -webkit-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
}

@-webkit-keyframes scaleDown {
    from {
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@keyframes scaleDown {
    from {
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

.pt-page-moveToTop {
    -webkit-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

@-webkit-keyframes moveToTop {
    from {
    }
    to {
        -webkit-transform: translateY(-120%);
    }
}

@keyframes moveToTop {
    from {
    }
    to {
        -webkit-transform: translateY(-120%);
        transform: translateY(-120%);
    }
}

.pt-page-moveFromBottom {
    -webkit-animation: moveFromBottom .6s ease both;
    animation: moveFromBottom .6s ease both;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(120%);
    }
}

@keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
}

#imagem_principal{
	width: 100%;
	height: auto;
}

#rodape {
	position: absolute;
	width:100%;
	height: 20px; 
	vertical-align:20px;
	bottom: 0px;
	color: rgb(255,255,255);
	text-align: center;
    background-color: rgba(148, 200, 46, 1);
}
 

#scrolling{
	margin: auto;
	width: 90%;
	height: 170; 
}

.imagens_parceiros{
	margin: 3px;
	border-width: 2px;
    border-style: solid;	
	border-color: white;
}
