/* Frame */
.frame {
    height: 100px;
    overflow: hidden;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}

.frame ul li {
    float: left;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.frame ul li.active {
    color: #fff;
    background: #a03232;
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 2px 0;
    height: 2px;
    background: rgba(100, 100, 100, 0.3);
    line-height: 0;
}

.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: rgba(100, 100, 100, 0.7);
    cursor: pointer;
}

.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}
