ol, ul {
    list-style: none;
}

/*
 * Camada escura que aparece quando um view é lançado
 */

body::after {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 55, 78, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

body.overlay-layer::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
    content: '';

}

/*
 * Imagem que aparece no view
 */

.selected img.item {

    float: left;
    max-height: 300px;
    height: 100%;
    position: relative;

    display: block;
}

/*
 * Campos do view
 */

.view-campos {

}

.view-campos label {
    float: left;
    width: 10em;
}

.view-campo {
    padding: 4px 9px;
}

/*
 * Container onde os items vão ficar
 */

.view-container {
    width: 90%;
    max-width: 1170px;
}

.view-container:after {
    content: "";
    display: table;
    clear: both;
}

/*
 * Um item da lista de items
 */

.view-item {
    position: relative;
    width: 22%;
    float: left;
    margin: 0 4% 2.8em 0;
}

.view-item > img {
    display: block;
    width: 100%;
}

.view-item:nth-child(2n) {
    margin-right: 4%;
}

.view-item:nth-child(4n) {
    margin-right: 0;
}

/*
 * Quando um item é aberto, cobre ele com uma tela
 * escura dando a impressão que é um buraco
 */

.view-item.empty-box::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #392c3f;
    content: "";
}

/*
 * Nome que aparece na parte superior do item
 */

.view-nome {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 70%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
}

/*
 * Uma faixa escura no meio do item
 * usada para dizer se um item está disponível ou um usuário ativo
 */

.view-faixa-meio {
    position: absolute;
    height: auto;
    width: 100%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 80%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(250, 250, 250);
}

/*
 * Botão no canto inferior do item, usado para abrir o view
 */

.abrir-view {
    font-size: 70%;
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    opacity: 0;
    -webkit-transition: opacity 0.2s, background-color 0.2s;
    -moz-transition: opacity 0.2s, background-color 0.2s;
    transition: opacity 0.2s, background-color 0.2s;
}

.view-item:hover .abrir-view {
    opacity: 1;
}

/* Botão do canto inferior da imagem grande que aparece no view */

.view-muda-imagem {
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    opacity: 0;
    -webkit-transition: opacity 0.2s, background-color 0.2s;
    -moz-transition: opacity 0.2s, background-color 0.2s;
    transition: opacity 0.2s, background-color 0.2s;
}

.view-imagem-grande:hover .view-muda-imagem {
    opacity: 1;
}

/* O view */

.view {
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    color: #3e585f;

    display: none;

    overflow: hidden;

    /* na frente de tudo! */
    z-index: 1;
}

@media only screen and (min-width: 1024px) {
    .view {
        display: block;
        position: fixed;
        visibility: hidden;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: left, top, width;
    }

    .view:after {
        content: "";
        display: table;
        clear: both;
    }

    .view.is-visible {
        /* class added when user clicks on .abrir-view */
        visibility: visible;
    }

    .view.animate-width {
        /* class added at the end of the first zoom-in animation */
        background-color: #ffffff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
    }
}

/* Imagem que aparece no view */

.view-imagem-grande {
    position: relative;
    display: inline-block;
    float: left;
    list-style: none;
    height: 300px;
}

.view-imagem-grande:after {
    content: "";
    display: table;
    clear: both;
}

/* Informações do item que aparecem no view */

.view-item-info {
    position: absolute;
    float: left;
    left: 10px;
    width: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s;
}

.view-item-info-tabelas {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s;
}

.view-item-info h2 {
    font-size: 28px;
    font-size: 1.75rem;
}

.view-item-info p {
    line-height: 1.6;
    margin: 1em 0;
    color: #67919c;
}

.view-item-info .view-item-acao li {
    display: inline-block;
    margin-right: 1em;
}

.view-item-info .view-item-acao li:first-child {
    margin-left: -4px;
}

/* Botão de salvar */

.view-item-info .salvar, .view-item-info-tabelas .salvar {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0.25em;
    border: none;
    padding: .6em 1.2em;
    background-color: #f82f53;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
}

/* Botão de Download */

.view-item-info .download, .view-item-info-tabelas .download {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0.25em;
	margin-left: -4px;
    border: none;
    padding: .6em 1.2em;
    background-color: #f82f53;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
}

/* Botão de Visualizar */

.view-item-info .visualizar, .view-item-info-tabelas .visualizar {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0.25em;
    border: none;
    padding: .6em 1.2em;
    background-color: #f82f53;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
}

.view-item-info .inserir, .view-item-info-tabelas .inserir {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0.25em;
    border: none;
    padding: .6em 1.2em;
    background-color: #f82f53;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
}

/*
 * Classe adicionada no final da animação de abertura do view
 * Começa a mostrar o conteúdo
 */

.view-mostra-conteudo .view-item-info, .view-mostra-conteudo .view-item-info-tabelas {
    position: relative;
    visibility: visible;
    opacity: 1;
}

.view-mostra-conteudo .view-item-info h2 {
    -webkit-animation: cd-slide-in 0.3s;
    -moz-animation: cd-slide-in 0.3s;
    animation: cd-slide-in 0.3s;
}

.view-mostra-conteudo .view-item-info p {
    -webkit-animation: cd-slide-in 0.4s;
    -moz-animation: cd-slide-in 0.4s;
    animation: cd-slide-in 0.4s;
}

/* Enviar, salvar, etc... */

.view-mostra-conteudo .view-item-info .view-item-acao {
    -webkit-animation: cd-slide-in 0.5s;
    -moz-animation: cd-slide-in 0.5s;
    animation: cd-slide-in 0.5s;
}

.fechar-view {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
    -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
    transition: transform .3s 0s, visibility 0s .3s;
}

.fechar-view::before, .fechar-view::after {
    /* close icon in css */
    position: absolute;
    top: 12px;
    left: 5px;
    display: inline-block;
    height: 4px;
    width: 20px;
    background: #47374e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fechar-view::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
}

.fechar-view::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    content: '';
}

.no-touch .fechar-view:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    content: '';
}

.view-mostra-conteudo .fechar-view {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
    transition: transform .3s 0s, visibility 0s 0s;
    content: '';
}
