.div-table-bot {
	margin: 0 auto;

	height: 16px;
	width: 40px;
	background-color: rgb(100, 200, 200);

	cursor: pointer;

	-webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    transition: background-color 0.1s;
}
.div-table-bot:hover {
	background-color: rgb(200, 150, 200);
}

.dual-tables {
	display: inline-block;
    margin: 20px auto;
}

.div-table-container {
	height: 400px;
	display: inline-block;
    overflow: scroll;
	overflow-x:hidden;
}

.div-table-usuarios {
	height: 200px;
	overflow: scroll;
	display: inline-block;
	overflow-x:hidden;

}

.div-table-usuarios .table-usuarios-selected td{
	background-color: rgb(150, 150, 200); !important;
}

.div-table-container table, .div-table-usuarios table {
  width:auto;
  background-color:#eee;
}

.div-table-container tr:hover td, .div-table-usuarios tr:hover td{
	background-color:#fff;
}

.div-table-container th, .div-table-container td, .div-table-usuarios th, .div-table-usuarios td {
  white-space: nowrap;
  max-width:75px;
  min-width: 75px; /* por incrivel que pareça, precisa pois sem o max a tabela fica querendo se adaptar ao texto, e sem o min com o rolamento do texto a coluna diminui quando o texto sai */

  background-color:#ccc;

  text-align: center;
  height: 20px;

  overflow: hidden;
  text-overflow: ellipsis;

	-webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.div-table-container td:hover, .div-table-usuarios td:hover {
	text-overflow: clip;
}

.div-table-container td input {
	height: 20px;
	width: 50px;
}
