/*****************************/
/* Trapezoid, based on http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/ */
/*****************************/

.botoes {
    position: absolute;
    bottom: 0px;
    left: 200px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.7em;
}

.tabs-style-tzoid {
    max-width: 800px;
}

.tabs-style-tzoid nav {
    padding: 0 1em;
}



.tabs-style-tzoid nav ul li a {
    padding: 5 0.3em 0 0.3em;
    color: rgb(63, 128, 26);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

@media screen and (max-width: 54em) {
    .tabs-style-tzoid nav ul li a {
        padding: 0 0.5em 0 0.3em;
    }
}

.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus {
    color: #fff;
}

.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover {
    color: rgb(63, 128, 26);
}

.tabs-style-tzoid nav ul li a span {
    font-weight: 500;
    font-size: 0.75em;
}

.tabs-style-tzoid nav ul li a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    outline: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    background: rgb(121, 177, 40);
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.05);
    content: '';

}

.tabs-style-tzoid nav ul li.tab-current a::after,
.tabs-style-tzoid .content-wrap {
    background: #fff;
    box-shadow: none;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 500;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 0;
    display: block;
    margin: 0;
    text-align: center;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    float: right;
    height: 40px;
}

.tabs nav a span {
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'stroke7pixeden';
    src: url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
    src: url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
    url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
    url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
    url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}

.icon::before {
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home::before {
    content: "\e648";
}

.demo-pricing {
    font-size: 1em;
    font-weight: bold;
    line-height: 100%;
    color: #0d9564;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-family: 'Raleway', Arial, sans-serif;
}

.demo-pricing-1 {
    background-color: rgb(43, 190, 131);
}

.demo-pricing-1:hover {
    color: rgb(255, 255, 255);
}

.demo-pricing-1:active {
    background-color: rgb(255, 255, 255);
    color: #0d9564;
}

