{% load thumbnail %}
<table cellspacing="0" role="presentation" border="0">
    <tbody>

        <tr>
            <td>
                <div style="width: 100%; float:left; margin: 1em 0 0 1em">
                &emsp;&emsp;Pedro Neto Hortifrutigranjeiro presta um serviço venda e entrega de frutas, verduras, legumes frescos e                 congelados para empresas em geral, nossos cliente fazem pedidos dos nossos produtos através do acesso online ao site ou                 pelo telefone, com pelo menos um dia de antecedência, todos os pedidos são verificados pelo próprio Sr. Pedro Neto, dono do                 empreendimento, posteriormente pela manhã do dia da entrega os produtos frescos são separados na Sede localizada na CEASA                     Pernambuco e são despachados para entrega. 
                <br><br>

                Entre em <b><a href="javascript:;" onclick="javascript: mudaPagina(4);" style="color:rgb(63, 128, 26)">contato</a></b> e
                seja mais um Cliente satisfeito com nossos serviços e produtos.
                
                <br><br>

                Conheça nossos Clientes:
                
                </div>
            </td>
            <td>
                <img src="{{ STATIC_URL }}website/logomarca_pedro_neto_central.png" style="width: 70%; float:right; margin: 0 1em 0 0"></img>
            </td>
        </tr>

    </tbody>

</table>


<script type="text/html" id="item-parceiros">
    <img class="imagens_parceiros" alt="__nome__" src="__imagem__"/>
</script>

<script type="text/html" id="item-parceiros-link">
    <a href="__url_externo__" target="_blank">
        <img class="imagens_parceiros" alt="__nome__" src="__imagem__"/>
    </a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        callback_parceiros = function (clientes) {
            $.each(clientes, function (chave, val) {
                if (val.tem_imagem) {
                    var template;
                    if (val.url_externo=='') {
                        template = $('#item-parceiros').html();            
                    } 
                    else {
                        template = $('#item-parceiros-link').html();
                        template = template.replace(/__url_externo__/g, val.url_externo);
                    }    
                    
                    var template = template.replace(/__imagem__/g, val.url_imagem);

                    obj = $(template);

                    $("#scrolling").append(obj);
                }
            });
            $('#scrolling').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                leftMode: true,
                autoplay: true,
                autoplaySpeed: 600,
                variableWidth: true
            });
        };

        jQuery.ajax({
            type: "GET",
            cache: false,
            data: { action: 'random_clientes', csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                jQueryData = jQuery.parseJSON(data);
                callback_parceiros(jQueryData);
            },
            error: function (xhr, errmsg, err) {
                alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    });
</script>

<div id="scrolling"></div>







