<div style="text-align: center;">
	<h5>
		Deseja ser nosso cliente? Entre em contato através do telefone ou deixe uma mensagem aqui.
	</h5>
    <form id="contact_form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <div class="row">
            <label for="name">Nome:</label><br/>
            <input id="name" class="input" name="name" type="text" value="" size="30"/><br/>
        </div>
        <div class="row">
            <label for="email">E-mail:</label><br/>
            <input id="email" class="input" name="email" type="text" value="" size="30"/><br/>
        </div>
        <div class="row">
            <label for="telefone">Telefone:</label><br/>
            <input id="telefone" class="input" name="telefone" type="text" value="" size="30"/><br/>
        </div>
        <div class="row">
            <label for="message">Mensagem:</label><br/>
            <textarea id="message" class="input" name="message" rows="10" cols="50" style="resize:none;"></textarea><br/>
        </div>
        <input id="submit_button" type="submit" value="Enviar"/>
    </form>

	<div id="uia" class="social-likes" data-url="https://www.pedronetohortifruti.com" data-title="Facebook">
		<div class="facebook" title="Compartilhe com Seus Amigos">Compartilhe
		</div>
	</div>


	<h5>
		A Sede do empreendimento encontra-se na CEASA Recife - BR 101 Sul • Km 70 • Curado, Recife PE, 50790-900 - Galpão 62 <br>

		Telefones para contato: (81) 8766-2969/ 8829-7242/ 9451-0945
	</h5>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#submit_button').tooltipster({
            trigger: 'custom',
            onlyOne: false,
            position: 'top-left'
        });

        $("#contact_form").submit(function (ev) {
            ev.preventDefault();

		    jQuery.ajax({
		        type: "POST",
		        cache: false,
		        data: { action: 'envia_email', nome: $("#name").val(), email: $("#email").val(), telefone: $("#telefone").val(), mensagem: $("#message").val(), csrfmiddlewaretoken: '{{ csrf_token }}' },
		        success: function (data) {
				    var s = $("#submit_button");
				    s.tooltipster('update', 'Formulário enviado com sucesso!');
				    s.tooltipster('show');

				    setTimeout(
				        function () {
				            s.tooltipster('hide');
				        }, 2000
				    );
					$('#submit_button').attr("disabled", "disabled");
		        },
		        error: function (xhr, errmsg, err) {
				    var s = $("#submit_button");
				    s.tooltipster('update', 'Campos obrigatórios não preenchidos!');
				    s.tooltipster('show');

				    setTimeout(
				        function () {
				            s.tooltipster('hide');
				        }, 2000
				    );
		        }
		    });

        });

    });
</script>



