<script src="{{ STATIC_URL }}website/js/velocity.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/items.css">

<script type="text/html" id="item-template">
    <li class="view-item">
        <span class="view-nome">__nome__</span>
		<img src="__imagem__" alt="Item Preview">
    </li>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        callback = function (produtos) {
            $.each(produtos, function (chave, val) {
                var template = $('#item-template').html();
                var templateCompilado = template.replace(/__nome__/g, val.nome);
				var templateCompilado = templateCompilado.replace(/__imagem__/g, val.url_imagem);
                obj = $(templateCompilado);

                $("#id_items").append(obj);

            });
        };

        jQuery.ajax({
            type: "GET",
            cache: false,
            data: { action: 'random_produtos', csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                jQueryData = jQuery.parseJSON(data);
                callback(jQueryData);
            },
            error: function (xhr, errmsg, err) {
                alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    });
</script>

<div style="text-align: center;"><h3>Conheça alguns dos produtos que fornecemos aos nossos clientes:</h3></div>

<ul class="cd-items view-container" id="id_items">

</ul>
