<table cellspacing="0" role="presentation" border="0">

    <tbody>

        <tr>
            <td>
				<div style="width: 100%; float:left; margin: 1em 0 0 1em">
				&emsp;&emsp;O Pedro Neto Hortifrutigranjeiro é um trabalhador autônomo que atua desde 2009 na comercialização especializada na distribuição de frutas, verduras, legumes frescos e congelados para empresas em geral, como restaurantes, cozinhas industriais, bares, casas noturnas, hotéis. <br> <br>

				&emsp;&emsp;Com sede na cidade de Recife, Pedro Neto Hortifrutigranjeiro vem se destacando no segmento de distribuição devido ao seu excelente serviço de entrega, preocupado sempre em presta um excelente atendimento, pontualidade, comprometimento e preocupação em sempre fornecer alimentos frescos e de qualidade aos seus clientes. Para garantir o frescor de suas mercadorias, está sempre recebendo mercadorias diariamente do CEASA Pernambuco. <br> <br>

				&emsp;&emsp;A flexibilidade na negociação de valores e prazos de pagamento, a agilidade no atendimento, a transparência, e o pós venda, fazem de Pedro Neto Hortifrutigranjeiro um grande parceiro de seus clientes. Está sempre na busca da solução com o melhor custo benefício. A escolha dos parceiros, fornecedores e produtores que serão fornecidos por Pedro Neto Hortifrutigranjeiro é feita de forma rigorosa e detalhada, diminuindo assim as perdas e aumentando a qualidade de suas mercadorias.
				</div>
            </td>
            <td>
				<img src="{{ STATIC_URL }}website/logomarca_pedro_neto_central.png" style="width: 70%; float:right; margin: 0 1em 0 0"></img>
            </td>
        </tr>

    </tbody>

</table>
