<html>
<head>
    <title> Pedro Neto Hortifruti </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/estilos.css"/>
</head>
<body>
Bem vindo!
<br/>
<a href="{% url 'cadastrar_pessoa' %}"> Cadastrar pessoa </a>
<br/>
<a href="{% url 'cadastrar_produto' %}"> Cadastrar produto </a>
<br/>
<a href="{% url 'cadastrar_pedido_admin' %}"> Cadastrar pedido </a>
</body>
</html>
