<html lang="pt-br">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script src="{{ STATIC_URL }}website/js/modernizr.custom.js"></script>

    <script src="{{ STATIC_URL }}website/js/transicoes.js"></script>

    <script src="{{ STATIC_URL }}website/js/sly.min.js"></script>

    <script src="{{ STATIC_URL }}website/js/horizontal.js"></script>

    <script src="{{ STATIC_URL }}website/js/tooltipster.js"></script>

    <script src="{{ STATIC_URL }}website/js/items.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/tabs.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/tooltipster.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/frame.css">

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/slick.css"/>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/slick-theme.css"/>

	<link rel="stylesheet" href="{{ STATIC_URL }}website/social-likes_birman.css">

	<script type="text/javascript" src="{{ STATIC_URL }}website/js/slick.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}website/js/social-likes.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            $('#login').find('input[type="text"]').tooltipster({
                trigger: 'custom',
                onlyOne: false,
                position: 'left'
            });

            {% if form.errors %}
                username = $("#id_username");
                username.click(function () {
                    $("#id_username").tooltipster('hide');
                });

                username.tooltipster('update', 'Usuário ou senha inválido.');
                username.tooltipster('show');
            {%endif %}


                $('#logo').css("background-image", 'url({{ STATIC_URL }}website/logomarca_pedro_neto_barra.png)');

                $('#conteudo').css("background-image", 'url({{ STATIC_URL }}website/fundo_desenhado_frutas_verduras_pedro_neto.png)');

                $('#marcadagua').css("background-image", 'url({{ STATIC_URL }}website/logomarca_pedro_neto_rodape.png)');

            init_transicoes($('.pagina'), $('.tab'));

            {% if user.is_authenticated %}



            {% else %}

                $('.pagina').css("width", "60%");
                $('.pagina').css("height", "90%");
                $('.pagina').css("right", "0");
                $('.pagina').css("left", "0");
                $('.pagina').css("min-width", "800px");
                $('.pagina').css("width", "60%");

            {% endif %}

            init_transicoes($('.pagina'), $('.tab'));

        });

        $(window).load(function () {
            $("#id_username").attr('placeholder', 'Login');
            $("#id_username").attr('style', 'width:7em');
            $("#id_password").attr('placeholder', 'Senha');
            $("#id_password").attr('style', 'width:7em');

            textWidth = function (obj) {

                var html_org = $(obj).html();

                var html_calc = '<span>' + html_org + '</span>';

                $(obj).html(html_calc);

                var width = $(obj).find('span:first').width();

                $(obj).html(html_org);

                return width;
            };

            $(".top_bar_botao").each(function (i, obj) {

                if (i != 0) {
                    $(obj).css("border-left-width", 0);
                }

                tam = textWidth(obj);

                $(obj).css("width", tam + 8);

            });

        });
    </script>
    <title>Pedro Neto Hortifrutigranjeiro</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/estilos.css">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}website/favicon.ico"/>
</head>
<body>
	<div id="site">

		<div id="conteudo">

		    <div id="marcadagua">

		    </div>

		    {% if user.is_authenticated %}

		    {% if user.is_superuser %}

				{% include "admin/barra.html" %}

				<!-- INICIO -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "admin/inicio.html" %}
				    </div>
				</div>

				<!-- PEDIDOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "admin/pedidos.html" %}
				    </div>
				</div>

				<!-- PRODUTOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "admin/produtos.html" %}
				    </div>
				</div>

				<!-- CLIENTES -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "admin/clientes.html" %}
				    </div>
				</div>
				<!-- MEUS DADOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "admin/meus_dados.html" %}
				    </div>
				</div>

				<!-- MEUS DADOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "admin/inserir_produto.html" %}
				    </div>
				</div>

		    {% else %}


				{% include "cliente/barra.html" %}

				<!-- INICIO -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "cliente/inicio.html" %}
				    </div>
				</div>

				<!-- PEDIDOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "cliente/pedidos.html" %}
				    </div>
				</div>

				<!-- PRODUTOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "cliente/produtos.html" %}
				    </div>
				</div>

				<!-- MEUS DADOS -->
				<div class="pagina">
				    <div class="conteudo_pagina">
						{% include "cliente/meus_dados.html" %}
				    </div>
				</div>

		    {% endif %}

		    {% else %}

				<!-- PRINCIPAL -->
				<div class="pagina">
					<div class="conteudo_pagina">
						{% include "nao_logado/principal.html" %}
					</div>
				</div>


				<!-- COMO FUNCIONA -->
				<div class="pagina">
					<div class="conteudo_pagina">
						{% include "nao_logado/como_funciona.html" %}
					</div>
				</div>

				<!-- NOSSOS PRODUTOS -->
				<div class="pagina">
					<div class="conteudo_pagina">
						{% include "nao_logado/nossos_produtos.html" %}
					</div>
				</div>

				<!-- CONTATO -->
				<div class="pagina">
					<div class="conteudo_pagina">
				        {% include "nao_logado/contato.html" %}
				    </div>
				</div>

		    {% endif %}

		</div>

        <div id="top_bar">
            <div id="logo">
            </div>

            {% if user.is_authenticated %}

            {% if user.is_superuser %}

            <div class="botoes">
                <div class="tabs tabs-style-tzoid">
                    <nav>
                        <ul>
                            <li class="tab"><a class="icon icon-home" href="javascript:;"
                                               onclick="javascript: mudaPagina(0);"><span>Início</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(1);"><span>Pedidos</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(2);"><span>Produtos</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(3);"><span>Clientes</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(4);"><span>Meus Dados</span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /tabs -->
            </div>
            {% else %}
            <div class="botoes">
                <div class="tabs tabs-style-tzoid">
                    <nav>
                        <ul>
                            <li class="tab"><a class="icon icon-home" href="javascript:;"
                                               onclick="javascript: mudaPagina(0);"><span>Início</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(1);"><span>Pedidos</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(2);"><span>Produtos</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(3);"><span>Meus Dados</span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /tabs -->
            </div>
            {% endif %}

            {% else %}
            <div class="botoes">
                <div class="tabs tabs-style-tzoid">
                    <nav>
                        <ul>
                            <li class="tab"><a class="icon icon-home" href="javascript:;"
                                               onclick="javascript: mudaPagina(0);"><span>Principal</span></a></li>
                            <li class="tab"><a href="javascript:;"
											   onclick="javascript: mudaPagina(1);"><span>Como Funciona</span></a></li>
                            <li class="tab"><a href="javascript:;"
											   onclick="javascript: mudaPagina(2);"><span>Nossos Produtos</span></a></li>
                            <li class="tab"><a href="javascript:;"
                                               onclick="javascript: mudaPagina(3);"><span>Contato</span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /tabs -->
            </div>
            {% endif %}

            {% include "login.html" %}

		</div>

        <div class="view">

        </div>
        <!-- view -->

        <div id="rodape">
            Copyright &copy;DJG Solutions 2014
        </div>

    </div>
</body>
</html>
