<div id="login">
    <!-- se o usuário tiver logado, só dá um oi e mostra um link pra logout -->
    {% if user.is_authenticated %}
	    <div style="float:right; padding:1em 5%;font-size:1.5em;">Olá, {{ user.first_name }}
	        <a href="{% url 'logout_home' %}" style="text-decoration: none; color:rgb(63, 128, 26);">Sair</a>
	    </div>

    <!-- se o usuário não tiver logado, mostra o formulário -->
    {% else %}
	    <form id="login" style="margin: 0px; padding: 0px;" method="post" action="{% url 'django.contrib.auth.views.login' %}?next=#">
	    {% csrf_token %}

	    <table cellspacing="0" role="presentation" border="0">

	        <tbody>

	        <tr>
	            <td>
	                {{ form.username }}
	            </td>
	            <td>
	                {{ form.password }}
	            </td>
	            <td>
	                <input id="entrar" class="demo-pricing demo-pricing-1" type="submit" name="entrar"
	                       value="Entrar">
	            </td>
	        </tr>

	        </tbody>

	    </table>
	    </form>
    {% endif %}
</div>
