<script src="{{ STATIC_URL }}website/js/barra.js"></script>
{% load thumbnail %}
<div class="barra_usuario" >
    <div class="conteudo_pagina" style="overflow:hidden;"> 
        <div class="img_nome">
            <div class = espaco_nome >
                {% if user.get_full_name != ''  %}
                    <h3 class="nome" >{{ user.get_full_name }}</h3>
                {% else %}
                    <h3 class="nome" > Sem Nome </h3>
                {% endif %}
            </div>

            <div class="img_link" >
				{% thumbnail user_image "120x110" as im %}
					<img class = "img_perfil" src="{{ im.url }}" alt="Foto DJ">
				{% endthumbnail %}
                <div class="link_altera_image" >
                    <a href="#">Alterar Imagem</a>
                </div>
            </div>
        </div>
		<div class="barra_botoes">
			<a href="#" class="barra_usuario_link">
			    <div class="barra_usuario_botao" id="pedido_entregue" >
			        Pedidos a Serem Entregues
			    </div>
			</a>
			<a href="javascript:;" onclick="javascript: mudaPagina(1);" class="barra_usuario_link insere_pedido">
			    <div class="barra_usuario_botao" id="fazer_pedido" >
			        Fazer Pedido
			    </div>
			</a>
			<a href="javascript:;" onclick="javascript: mudaPagina(3);" class="barra_usuario_link insere_cliente">
			    <div class="barra_usuario_botao" id="cadastrar_cliente" >
			        Cadastrar Cliente
			    </div>
			</a>
			<a href="javascript:;" onclick="javascript: mudaPagina(2);" class="barra_usuario_link insere_produto">
			    <div class="barra_usuario_botao" id="inserir_produto" >
			        Inserir Produto
			    </div>
			</a>
			<a href="#" class="barra_usuario_link">
			    <div class="barra_usuario_botao" id="cobranças" >
			        Cobranças
			    </div>
			</a>
    	</div>
    </div>
</div>
