<!--suppress ALL -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/items.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/busca.css">
<script src="{{ STATIC_URL }}website/js/busca.js"></script>
<script src="{{ STATIC_URL }}website/js/velocity.min.js"></script>
<script src="{{ STATIC_URL }}website/js/salvar_cliente.js"></script>
<script src="{{ STATIC_URL }}website/js/csrf.js"></script>

<script type="text/html" id="item_template_cliente">
    <li class="view-item">
        <span class="view-nome">__nome__</span>
        <span class="view-faixa-meio" style="display:__display__">__ativo__</span>
        <img src="__imagem__" alt="Item Preview">
        <a href="#" class="abrir-view">Revisar Cliente</a>
    </li>
</script>

<script type="text/html" id="quickview_template_cliete">
    <div>
        <div class="view-imagem-grande">
            <li class="selected"><a href="#"><img class="item" src="__imagem__"></a></li>
        </div>

        <div class="view-item-info">
            <form id="editar_cliente" method="post">
                {% csrf_token %}

                <ul class="view-campos">

                    <div class="view-campo">
                        <label style=" width: 50%;" for="id_nome">Nome:</label>
                        <label style=" width: 50%;" for="id_sobrenome">Sobrenome:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 49%;" type="text" id="id_nome" value="__nome__" maxlength="50" required>
                        <input style=" width: 49%;" type="text" id="id_sobrenome" value="__sobrenome__" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 60%;" for="id_email">Email:</label>
                        <label style=" width: 30%;" for="id_login">Login:</label>
                        <label style=" width: 10%;" for="id_ativo">Ativo</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 59%;" type="text" id="id_email" value="__email__" maxlength="50" required>
                        <input style=" width: 29%;" type="text" id="id_login" value="__login__" maxlength="50" required>
                        <input style=" width: 6%;"  type="checkbox" id="id_ativo" __checked__>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 50%;" for="id_ddd">Telefone Obrigatório:</label>
                        <label style=" width: 50%;" for="id_ddd">Telefone Opcional:</label>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 10%;" for="id_ddd">DDD:</label>
                        <label style=" width: 40%;" for="id_numero">Numero:</label>
                        <label style=" width: 10%;" for="id_ddd2">DDD:</label>
                        <label style=" width: 40%;" for="id_numero2">Numero:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 9%;" type="text" id="id_ddd" value="__ddd__" required>
                        <input style=" width: 39%;" type="text" id="id_numero" value="__numero__" required>
                        <input style=" width: 9%;" type="text" id="id_ddd2" value="__ddd2__" required>
                        <input style=" width: 39%;" type="text" id="id_numero2" value="__numero2__" required>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 100%;" for="id_ddd">Endereço:</label>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 70%;" for="id_rua">Rua:</label>
                        <label style=" width: 30%;" for="id_numero_endereco">Numero:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 69%;" type="text" id="id_rua" value="__rua__" maxlength="50" required>
                        <input style=" width: 29%;" type="text" id="id_numero_endereco" value="__numero_endereco__" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 30%;" for="id_bairro">Bairro:</label>
                        <label style=" width: 30%;" for="id_cidade">Cidade:</label>
                        <label style=" width: 40%;" for="id_estado">Estado:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 29%;" type="text" id="id_bairro" value="__bairro__" maxlength="50" required>
                        <input style=" width: 29%;" type="text" id="id_cidade" value="__cidade__" maxlength="50" required>
                        <input style=" width: 39%;" type="text" id="id_estado" value="__estado__" maxlength="50" required>
                    </div>
					<div class="view-campo">
                        <label style=" width: 20%;" for="id_cep">CEP:</label>
                        <label style=" width: 80%;" for="id_complemento">Complemento:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 19%;" type="imput" id="id_cep" value="__cep__" maxlength="50" required>
                        <input style=" width: 79%;" type="text" id="id_complemento" value="__complemento__" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                    <label style=" width: 100%;" for="id_url_externo">Página Web:</label>
                         </div>
                    <div class="view-campo">
                         <input style=" width: 99%;" type="text" id="id_url_externo" value="__url_externo__" maxlength="200" required>
                    </div>
                </ul>
                <ul class="view-item-acao">
                    <li>
                        <button type="submit" class="salvar" id="salvar">Salvar</button>
                    </li>
                </ul>

            </form>
            <!-- view-item-acao -->
        </div>
        <!-- view-item-info -->
        <a href="#0" class="fechar-view">Close</a>
    </div>
</script>

<script type="text/html" id="insere-cliente-template">
    <div>
        <div class="view-imagem-grande">
            <li class="selected"><a href="#"><img class="item" src="{{ STATIC_URL }}website/img/item-1.jpg"></a></li>
            <a href="#0" class="view-muda-imagem">Mudar Imagem</a>
        </div>

        <div class="view-item-info">
            <form id="adicionar_cliente" action="" method="post">
                {% csrf_token %}

                <ul class="view-campos">

                    <div class="view-campo">
                        <label style=" width: 50%;" for="id_nome">Nome:</label>
                        <label style=" width: 50%;" for="id_sobrenome">Sobrenome:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 49%;" type="text" id="id_nome" value="" maxlength="50" required>
                        <input style=" width: 49%;" type="text" id="id_sobrenome" value="" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 60%;" for="id_email">Email:</label>
                        <label style=" width: 30%;" for="id_login">Login:</label>
                        <label style=" width: 10%;" for="id_ativo">Ativo</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 59%;" type="text" id="id_email" value="" maxlength="50" required>
                        <input style=" width: 29%;" type="text" id="id_login" value="" maxlength="50" required>
                        <input style=" width: 6%;"  type="checkbox" id="id_ativo" checked>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 50%;" for="id_ddd">Telefone Obrigatório:</label>
                        <label style=" width: 50%;" for="id_ddd">Telefone Opcional:</label>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 10%;" for="id_ddd">DDD:</label>
                        <label style=" width: 40%;" for="id_numero">Numero:</label>
                        <label style=" width: 10%;" for="id_ddd2">DDD:</label>
                        <label style=" width: 40%;" for="id_numero2">Numero:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 9%;" type="imput" id="id_ddd" value="" required>
                        <input style=" width: 39%;" type="imput" id="id_numero" value="" required>
                        <input style=" width: 9%;" type="imput" id="id_ddd2" value="" required>
                        <input style=" width: 39%;" type="imput" id="id_numero2" value="" required>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 100%;" for="id_ddd">Endereço:</label>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 70%;" for="id_rua">Rua:</label>
                        <label style=" width: 30%;" for="id_numero_endereco">Numero:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 69%;" type="text" id="id_rua" value="" maxlength="50" required>
                        <input style=" width: 29%;" type="imput" id="id_numero_endereco" value="" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                        <label style=" width: 30%;" for="id_bairro">Bairro:</label>
                        <label style=" width: 30%;" for="id_cidade">Cidade:</label>
                        <label style=" width: 40%;" for="id_estado">Estado:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 29%;" type="text" id="id_bairro" value="" maxlength="50" required>
                        <input style=" width: 29%;" type="text" id="id_cidade" value="" maxlength="50" required>
                        <input style=" width: 39%;" type="text" id="id_estado" value="" maxlength="50" required>
                    </div>
					<div class="view-campo">
                        <label style=" width: 20%;" for="id_cep">CEP:</label>
                        <label style=" width: 80%;" for="id_complemento">Complemento:</label>
                    </div>
                    <div class="view-campo">
                        <input style=" width: 19%;" type="imput" id="id_cep" value="" maxlength="50" required>
                        <input style=" width: 79%;" type="text" id="id_complemento" value="" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                    <label style=" width: 100%;" for="id_url_externo">Página Web:</label>
                         </div>
                    <div class="view-campo">
                         <input style=" width: 99%;" type="text" id="id_url_externo" value="" maxlength="200" required>
                    </div>
                </ul>


                <ul class="view-item-acao">
                    <li>
                        <button type="submit" class="salvar" id="salvar">Salvar</button>
                    </li>
                </ul>

            </form>
            <!-- view-item-acao -->
        </div>
        <!-- view-item-info -->
        <a href="#0" class="fechar-view">Close</a>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {

        // Função específica de abrir a view de produto
        abrir_view_cliente = function(obj) {

            var cd_quick_view = $('.view');

            cd_quick_view.find('div').remove();

            var template = $('#quickview_template_cliete').html();
            var cd_item = obj;

            var templateCompilado = template.replace(/__nome__/g, cd_item.data('first_name'));
            templateCompilado = templateCompilado.replace(/__sobrenome__/g, cd_item.data('last_name'));
            templateCompilado = templateCompilado.replace(/__email__/g, cd_item.data('email'));
            templateCompilado = templateCompilado.replace(/__login__/g, cd_item.data('login'));

            if (cd_item.data('ativo')) {
                templateCompilado = templateCompilado.replace(/__checked__/g, 'checked');
            } else {
                templateCompilado = templateCompilado.replace(/__checked__/g, '');
            }
			templateCompilado = templateCompilado.replace(/__url_externo__/g, cd_item.data('url_externo'));

            templateCompilado = templateCompilado.replace(/__ddd__/g, cd_item.data('ddd'));
            templateCompilado = templateCompilado.replace(/__numero__/g, cd_item.data('numero'));
            templateCompilado = templateCompilado.replace(/__ddd2__/g, cd_item.data('ddd2'));
            templateCompilado = templateCompilado.replace(/__numero2__/g, cd_item.data('numero2'));
            templateCompilado = templateCompilado.replace(/__rua__/g, cd_item.data('rua'));
            templateCompilado = templateCompilado.replace(/__numero_endereco__/g, cd_item.data('numero_endereco'));
            templateCompilado = templateCompilado.replace(/__bairro__/g, cd_item.data('bairro'));
            templateCompilado = templateCompilado.replace(/__cidade__/g, cd_item.data('cidade'));
            templateCompilado = templateCompilado.replace(/__estado__/g, cd_item.data('estado'));
            templateCompilado = templateCompilado.replace(/__cep__/g, cd_item.data('cep'));
            templateCompilado = templateCompilado.replace(/__complemento__/g, cd_item.data('complemento'));

            templateCompilado = templateCompilado.replace(/__imagem__/g,cd_item.data('url_imagem'));

            templObj = $(templateCompilado);

            cd_quick_view.append(templObj);

            $('#salvar').tooltipster({
                trigger: 'custom',
                onlyOne: false,
                position: 'top-left'
            });
        };

        //Função que é chamada quando a busca no servidor retorna uma lista de itens
        //É nessa função que eu insiro os itens na lista de itens, e é nela
        //que eu digo o que deve acontecer quando o usuário clicar no botão
        //de abrir o view
        callback_busca_cliente = function (cliente) {

            $("#id_items_cliente").find("li").remove();

            $.each(cliente, function (chave, val) {

                var template = $('#item_template_cliente').html();

                var templateCompilado = template.replace(/__nome__/g, val.first_name);

                if (val.ativo) {
                    templateCompilado = templateCompilado.replace(/__display__/g, 'none');
                    templateCompilado = templateCompilado.replace(/__ativo__/g, '');
                } else {
                    templateCompilado = templateCompilado.replace(/__display__/g, 'inline');
                    templateCompilado = templateCompilado.replace(/__ativo__/g, 'INATIVO');
                }

                templateCompilado = templateCompilado.replace(/__imagem__/g, val.url_imagem);

                obj = $(templateCompilado);

                $("#id_items_cliente").append(obj);

                //Aqui eu digo o que deve acontecer quando o usuário clicar pra abrir o view
                //A implementação de preparar_abrir_view, preparar_abrir_generico
                // e preparar_abrir_item, estão em items.js
                //Basicamente, quando o usuário clicar em 'obj' (que é o link
                // que aparece no item da lista, essas 3 funções (abrir_view_item, ...)
                // vão ser chamadas na ordem definida abaixo
                //O mesmo é feito para o atalho "inserir produto" em admin/barra.html e barra.js
                preparar_abrir_view(obj, abrir_view_item);
                preparar_abrir_view(obj, abrir_view_generico);
                preparar_abrir_view(obj, abrir_view_cliente);

                obj.data({
                    'first_name': val.first_name,
                    'last_name': val.last_name,
                    'email': val.email,
                    'login': val.login,
                    'ativo': val.ativo,
					'url_externo': val.url_externo,
                    'ddd': val.ddd,
                    'numero': val.numero,
                    'ddd2': val.ddd2,
                    'numero2': val.numero2,
                    'rua': val.rua,
                    'numero_endereco': val.numero_endereco,
                    'bairro': val.bairro,
                    'cidade': val.cidade,
                    'estado': val.estado,
                    'cep': val.cep,
                    'complemento': val.complemento,
                    'url_imagem': val.url_imagem
                });

            });

            $("#buscar_cliente").html('Buscar Produtos');
            $("#buscar_cliente").prop("disabled", false);

        };

        //Função que é chamada quando um cliente é adicionado no servidor com sucesso
        callback_add_cliente = function () {
            var s = $('#salvar');
            s.tooltipster('update', 'Cliente inserido com sucesso');
            s.tooltipster('show');

            setTimeout(
                function () {
                    s.tooltipster('hide');
                }, 2000
            );
        };

        $('body').on('submit', "#adicionar_cliente", function (ev) {
            ev.preventDefault();

            var first_name      = $("#id_nome").val(),
                last_name     = $("#id_sobrenome").val(),
                email           = $("#id_email").val(),
                login           = $("#id_login").val(),
                ativo           = $("#id_ativo").val(),
               	url_externo     = $("#id_url_externo").val(),
               	ddd             = $("#id_ddd").val(),
                numero          = $("#id_numero").val(),
                ddd2            = $("#id_ddd2").val(),
                numero2         = $("#id_numero2").val(),
                rua             = $("#id_rua").val(),
                numero_endereco = $("#id_numero_endereco").val(),
                bairro          = $("#id_bairro").val(),
                cidade          = $("#id_cidade").val(),
                estado          = $("#id_estado").val(),
                cep             = $("#id_cep").val(),
                complemento     = $("#id_complemento").val(),
                imagem          = $("#id_imagem").val();

            insere_cliente(first_name, last_name, email, login, ativo, ddd, numero, ddd2, numero2, rua, numero_endereco, bairro, cidade, estado, cep, complemento, '{{ csrf_token }}', callback_add_cliente);

        });

        //Quando o formulário de id "busca_cliente" envia
        $("#busca_cliente").submit(function (ev) {

            $("#buscar_cliente").prop("disabled", true);
            $("#buscar_cliente").html('Buscando...');

            ev.preventDefault();

            var q = $("#id_q_cliente");

            if (q.val() === 0 || !q.val().trim()) {
				q.val("");
            }

            q.data({'old_query': q.val()});

            buscar('cliente', q.val(), callback_busca_cliente);

        });

        $("#busca_cliente").submit();
    });
</script>

<form class="form-wrapper cf" id="busca_cliente" method="get">

    <input type="text" name="q" id="id_q_cliente" placeholder="Termos da busca" value="">
    <button type="submit" id="buscar_cliente">Buscar Clientes</button>


</form>


<ul class="cd-items view-container" id="id_items_cliente">

</ul>
