<!--suppress ALL -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/items.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/busca.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/tabela.css">
<script src="{{ STATIC_URL }}website/js/busca.js"></script>
<script src="{{ STATIC_URL }}website/js/velocity.min.js"></script>
<script src="{{ STATIC_URL }}website/js/salvar_pedido.js"></script>
<script src="{{ STATIC_URL }}website/js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}website/js/jspdf.debug.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}website/js/downloads.js"></script>

<script src="{{ STATIC_URL }}website/js/jquery.quicksearch.js"></script>

<script type="text/html" id="user-row-template">
    <tr><td>__nome__</td><td><div class="div-table-bot"></div></td></tr>
</script>

<script type="text/html" id="row-template">
    <tr class="showAppend">__colunas__</tr>
</script>

<script type="text/html" id="col-obj">
    <td>__obj__</td>
</script>

<script type="text/html" id="item_template_pedido">
    <li class="view-item">
        <span class="view-nome">__nome__</span>
        <img src="__imagem__" alt="Item Preview">
        <a href="#" class="abrir-view">Ver Pedido</a>
    </li>
</script>

<script type="text/html" id="quickview_template_pedido">
    <div style="text-align: center;" class="view-item-info-tabelas">

        <div class="dual-tables">

            <div class="div-table-container">
                <table id="table1">
                    <thead>
                        <th class="showAppend">
                            Entrega
                        </th>
                        <th class="showAppend">
                            V. Total
                        </th>
                        <th class="showAppend">
                            V. Pago
                        </th>
                        <th class="showAppend">
                            Cancelado
                        </th>
                        <th class="showAppend">
                            Entregue
                        </th>
                        <th class="showAppend">
                            Pago
                        </th>
                        <th class="showAppend">
                            Detalhe
                        </th>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>
            <div class="div-table-container">
                <table id="table2">
                    <thead>
                        <th>
                            Produto
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Preço F.
                        </th>
                        <th>
                            QTD
                        </th>
                        <th>
                            Total
                        </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div style="display: inline-block;">
                <ul class="view-item-acao">
                    <li>
                        <form id="adicionar_pedido">
                            <button type="submit" class="salvar" id="salvar">Salvar</button>
                        </form>
                    </li><br>
                    <li>
                        <button type="submit" onclick="createPDF_insert_pedido()" class="download" id="download">Download</button>
                    </li><br>
                    <li>
                        <button type="submit" onclick="viewPDF_insert_pedido()" class="visualizar" id="visualizar">Visualizar</button>
                    </li><br>
                </ul>
            </div>
        </div>
        <a href="#0" class="fechar-view">Close</a>
    </div>
</script>

<script type="text/html" id="insere_pedido_template">
    <div style="text-align: center;" class="view-item-info-tabelas">

        <div class="dual-tables">

            <div class="div-table-container">
                <form>
                    <input type="text" id="search_produto1" placeholder="Busca Produto" />
                </form>
                <table id="table1">
                    <thead>
                        <th class="showAppend">
                            Produto
                        </th>
                        <th class="showAppend">
                            Preco
                        </th>
                        <th class="showAppend">
                            UND
                        </th>
                        <th class="showAppend">
                            QTD
                        </th>
                        <th class="showAppend">
                            CAT
                        </th>
                        <th class="showAppend">
                            Total
                        </th>
                        <th class="showAppend">
                            Inserir
                        </th>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>
            <div class="div-table-container">
                <form>
                    <label for="#valor_total">Valor total:</label> <input type="text" id="valor_total" label="Valor Total:" disabled/>
                </form>
                <table id="table2">
                    <thead>
                        <th>
                            Produto
                        </th>
                        <th>
                            Preco
                        </th>
                        <th>
                            UND
                        </th>
                        <th>
                            QTD
                        </th>
                        <th>
                            CAT
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Remover
                        </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div style="display: inline-block;">

                    <ul class="view-item-acao">
                        <li>
                            <form id="adicionar_pedido">
                                <button type="submit" class="salvar" id="salvar">Salvar</button>
                            </form>
                        </li><br>
                        <li>
                            <button type="submit" onclick="createPDF_insert_pedido()" class="download" id="download">Download</button>
                        </li><br>
                        <li>
                            <button type="submit" onclick="viewPDF_insert_pedido()" class="visualizar" id="visualizar">Visualizar</button>
                        </li><br>
                    </ul>

                <div class="div-table-usuarios">
                    <form>
                        <input type="text" id="search_user" placeholder="Busca Cliente" />
                    </form>
                    <table id="table_usuarios">
                        <thead>
                            <th>
                                Nome
                            </th>
                            <th>
                                Selecionar
                            </th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="#0" class="fechar-view">Close</a>
    </div>

</script>

<script src="{{ STATIC_URL }}website/js/pedidos-tabela.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        // Função específica de abrir a view de produto
        abrir_view_pedido = function(obj) {
            var cd_quick_view = $('.view');

            cd_quick_view.find('div').remove();

            var template = $('#quickview_template_pedido').html();

            templObj = $(template);

            cd_quick_view.append(templObj);

            var topSelected = obj.offset().top,
                leftSelected = obj.offset().left,
                widthSelected = obj.width(),
                heightSelected = obj.height(),
                windowWidth = $("#conteudo").width(),
                windowHeight = $("#conteudo").height(),
                finalLeft = (windowWidth - 700)/2,
                finalHeight = 450,
                finalWidth = 1400,
                finalTop = (windowHeight - 100) / 4,
                quickViewWidth = 1400,
                quickViewLeft = (windowWidth - quickViewWidth)/2;

            $('.view').data({
                'topSelected': topSelected,
                'leftSelected': leftSelected,
                'widthSelected': widthSelected,
                'heightSelected': heightSelected,
                'windowWidth': windowWidth,
                'windowHeight': windowHeight,
                'finalLeft': finalLeft,
                'finalHeight': finalHeight,
                'finalWidth': finalWidth,
                'finalTop': finalTop,
                'quickViewWidth': quickViewWidth,
                'quickViewLeft': quickViewLeft
            });

            $('#salvar').tooltipster({
                trigger: 'custom',
                onlyOne: false,
                position: 'top-left'
            });

            var append_table1 = function(rows2) {
                var table = $('#table1').find('tbody').eq(0);

                var row = $('#row-template').html();

                var cols = "";

                var col = $('#col-obj').html();

                for (var i = 1; i < arguments.length; i++) {
                    var col_Compilado = col.replace(/__obj__/g, arguments[i]);

                    cols += col_Compilado;
                }
                var col_Compilado = col.replace(/__obj__/g, '<div class="div-table-bot"></div>');
                cols += col_Compilado;

                var row = $(row.replace(/__colunas__/g, cols));

                var slide = function() {
                    var that = $(this);
                    var this_indent = 0;

                    if( (this.offsetHeight < this.scrollHeight) || (this.offsetWidth < this.scrollWidth) ) {
                        interval = setInterval(function(){
                            this_indent--;
                            if(this_indent < -250) {
                                this_indent = 100;
                            }
                            $(that).css('text-indent', this_indent);
                        },20);

                        $(this).data("interval",interval);
                    }
                };
                var slideout = function() {
                    clearInterval($(this).data("interval"));
                    $(this).css("text-indent",0);
                };

                row.find('td').eq(0).on("mouseenter",slide);
                row.find('td').eq(0).on("mouseleave",slideout);

                bot = row.find(".div-table-bot").eq(0);

                table.append(row);

                bot.click(function(e) {
                    $('#table2').find('tbody tr').each( function(i,v) {
                        $(v).hide();
                    });
                    for(var i = 0; i < rows2.length; i++) {
                        rows2[i].show();
                    }
                });

            };

            var append_table2 = function() {
                var table = $('#table2').find('tbody').eq(0);

                var row = $('#row-template').html();

                var cols = "";

                var col = $('#col-obj').html();

                for (var i = 0; i < arguments.length; i++) {
                    var col_Compilado = col.replace(/__obj__/g, arguments[i]);

                    cols += col_Compilado;
                }

                var row = $(row.replace(/__colunas__/g, cols));

                var slide = function() {
                    var that = $(this);
                    var this_indent = 0;

                    if( (this.offsetHeight < this.scrollHeight) || (this.offsetWidth < this.scrollWidth) ) {
                        interval = setInterval(function(){
                            this_indent--;
                            if(this_indent < -250) {
                                this_indent = 100;
                            }
                            $(that).css('text-indent', this_indent);
                        },20);

                        $(this).data("interval",interval);
                    }
                };
                var slideout = function() {
                    clearInterval($(this).data("interval"));
                    $(this).css("text-indent",0);
                };

                row.find('td').eq(0).on("mouseenter",slide);
                row.find('td').eq(0).on("mouseleave",slideout);

                table.append(row);

                row.hide();
                return row;
            };

            //entrega v.total v.pago canc entregue pago
            jQuery.ajax({
                type: "GET",
                cache: false,
                data: { action: 'cliente_pedidos', cliente: obj.data('user') },
                success: function (data) {
                    jQueryData = jQuery.parseJSON(data);
                    for(var i = 0; i < jQueryData.length; i++) {

                        jQuery.ajax({
                            async: false,
                            type: "GET",
                            cache: false,
                            data: { action: 'pedido_produtos', pedido: jQueryData[i].id },
                            success: function (data) {
                                var produtos = jQuery.parseJSON(data);

                                var rows2 = [];
                                //Produto Preço PreçoF. QTD Total
                                for (var j = 0; j < produtos.length; j++) {
                                    rows2[j] = append_table2(
                                        produtos[j].produto_nome,
                                        produtos[j].preco,
                                        produtos[j].precoF,
                                        produtos[j].qtd,
                                        produtos[j].total
                                    );
                                }

                                append_table1(
                                    rows2,
                                    jQueryData[i].data_entrega,
                                    jQueryData[i].valor_total,
                                    jQueryData[i].valor_pago,
                                    jQueryData[i].cancelado,
                                    jQueryData[i].entregue,
                                    jQueryData[i].pago
                                );

                            },
                            error: function (xhr, errmsg, err) {
                                alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
                        });

                    }
                },
                error: function (xhr, errmsg, err) {
                    alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };

        //Função que é chamada quando a busca no servidor retorna uma lista de itens
        //É nessa função que eu insiro os itens na lista de itens, e é nela
        //que eu digo o que deve acontecer quando o usuário clicar no botão
        //de abrir o view
        callback_busca_pedido = function (pedido) {

            $("#id_items_pedido").find("li").remove();

            $.each(pedido, function (chave, val) {
                var template = $('#item_template_pedido').html();

                var templateCompilado = template.replace(/__nome__/g, val.first_name);
                var templateCompilado = templateCompilado.replace(/__imagem__/g, val.url_imagem);
                obj = $(templateCompilado);

                $("#id_items_pedido").append(obj);


                //Aqui eu digo o que deve acontecer quando o usuário clicar pra abrir o view
                //A implementação de preparar_abrir_view, preparar_abrir_generico
                // e preparar_abrir_item, estão em items.js
                //Basicamente, quando o usuário clicar em 'obj' (que é o link
                // que aparece no item da lista, essas 3 funções (abrir_view_item, ...)
                // vão ser chamadas na ordem definida abaixo
                //O mesmo é feito para o atalho "inserir produto" em admin/barra.html e barra.js
                //preparar_abrir_view(obj, abrir_view_item);
                preparar_abrir_view(obj, abrir_view_pedido);
                preparar_abrir_view(obj, abrir_view_generico);

                obj.data({
                    'first_name': val.first_name,
                    'user': val.user,
                    'url_imagem' : val.url_imagem
                });

            });

            $("#buscar_pedido").html('Buscar Produtos');
            $("#buscar_pedido").prop("disabled", false);

        };

        //Função que é chamada quando um pedido é adicionado no servidor com sucesso
        callback_add_pedido = function () {
            var s = $('#salvar');
            s.tooltipster('update', 'Pedido inserido com sucesso');
            s.tooltipster('show');

            setTimeout(
                function () {
                    s.tooltipster('hide');
                }, 2000
            );
        };

        $('body').on('submit', "#adicionar_pedido", function (ev) {
            ev.preventDefault();

            //var observacao = $("#id_observacao").val();

            //insere_pedido(observacao, '{{ csrf_token }}', callback_add_pedido);

            var produtos = [];
            var qtd = {};
            var preco = {};
            var j = 0;

            $("#table2").find('tr').each(function(i, v) {
                if (!$(v).is(':hidden') && $(v).data('id')) {
                    v_l = $(v).find('.Total').val();

                    if(v_l) {
                        id = $(v).data('id');
                        produtos[j++]=id;
                        qtd[id] = $(v).find('.QTD').val();
                        preco[id] =  $(v).find('.Preco').val();
                    }
                }
            });

            var user = $("#table_usuarios").find('.table-usuarios-selected').eq(0).data('id');


            insere_pedido(user, produtos, preco, qtd, '{{ csrf_token }}', callback_add_pedido);

        });

        //Quando o formulário de id "busca_pedido" envia
        $("#busca_pedido").submit(function (ev) {
            $("#buscar_pedido").prop("disabled", true);
            $("#buscar_pedido").html('Buscando...');

            ev.preventDefault();

            var q = $("#id_q_pedido");

            if (q.val() === 0 || !q.val().trim()) {
				q.val("");
            }

            q.data({'old_query': q.val()});

            buscar('cliente', q.val(), callback_busca_pedido);

        });

        $("#busca_pedido").submit();
    });
</script>

<form class="form-wrapper cf" id="busca_pedido" method="get">

    <input type="text" name="q" id="id_q_pedido" placeholder="Termos da busca" value="">
    <button type="submit" id="buscar_pedido">Buscar Pedidos</button>


</form>


<ul class="cd-items view-container" id="id_items_pedido">

</ul>
