<!--suppress ALL -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/items.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}website/busca.css">
<script src="{{ STATIC_URL }}website/js/busca.js"></script>
<script src="{{ STATIC_URL }}website/js/velocity.min.js"></script>
<script src="{{ STATIC_URL }}website/js/salvar_produto.js"></script>
<script src="{{ STATIC_URL }}website/js/csrf.js"></script>

<script type="text/html" id="item-template">
    <li class="view-item">
        <span class="view-nome">__nome__</span>
        <span class="view-faixa-meio" style="display:__display__">__disponivel__</span>
        <img src="__imagem__" alt="Item Preview">
        <a href="javascript:;" class="abrir-view">Revisar Item</a>
    </li>
</script>

<script type="text/html" id="quickview-template" style="overflow:hidden;">
    <div>
        <div class="view-imagem-grande">
            <li class="selected"><a href=""><img class="item" src="__imagem__"></a></li>
        </div>

        <div class="view-item-info">
            <form id="editar_produto" method="post">
                {% csrf_token %}

                <ul class="view-campos">
                    <div class="view-campo">
                        <label for="id_nome">Nome:</label>
                        <input type="text" id="id_nome" value="__nome__" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                        <label for="id_preco">Preço:</label>
                        <input type="number" id="id_preco" step="0.01" value="__preco__"required>
                    </div>
                    <div class="view-campo">
                        <label for="id_unidade">Unidade:</label>
                        <select id="id_unidade" name="unidade">
                            <option value="KG" selected__KG>Quilograma</option>
                            <option value="CX" selected__CX>Caixa</option>
                            <option value="BD" selected__BD>Balde</option>
                            <option value="ML" selected__ML>Molho</option>
                            <option value="UND" selected__UND>Unidade</option>
                        </select>
                    </div>
                    <div class="view-campo">
                        <label for="id_category">Categoria:</label>
                        <select id="id_category" name="category">
                            <option value="F" selected__category_F>Frutas</option>
                            <option value="LE" selected__category_LE>Legumes</option>
                            <option value="V" selected__category_V>Verduras</option>
                            <option value="C" selected__category_C>Carnes</option>
                            <option value="LA" selected__category_LA>Laticínios</option>
                            <option value="T" selected__category_T>Temperos</option>
                            <option value="UT" selected__category_UT>Utilidades</option>
                            <option value="O" selected__category_O>Outros</option>
                        </select>
                    </div>
                    <div class="view-campo">
                        <label for="id_compra_minima">Compra Minima:</label>
                        <input type="number" id="id_compra_minima" step="0.01" value="__compra_minima__" required>
                    </div>
                    <div class="view-campo">
                        <label for="id_granularidade">Granularidade:</label>
                        <input type="number" id="id_granularidade" step="0.01" value="__granularidade__" required>
                    </div>
                    <div class="view-campo">
                        <label for="id_criado">Produto Criado em:</label>
                        <input type="text" id="id_criado" value="__criado__" required readonly>
                    </div>
                    <div class="view-campo">
                        <label for="id_ultima_modificacao">Modificado em:</label>
                        <input type="text" id="id_ultima_modificacao" value="__ultima_modificacao__" required readonly>
                    </div>
                    <div class="view-campo">
                        <input type="checkbox" id="id_disponivel" __checked__>
                        <label for="id_disponivel">Disponível</label>
                    </div>
                </ul>

                <ul class="view-item-acao">
                    <li>
                        <button type="submit" class="salvar" id="salvar">Salvar</button>
                    </li>
                </ul>

            </form>
            <!-- view-item-acao -->
        </div>
        <!-- view-item-info -->
        <a href="#0" class="fechar-view">Close</a>
    </div>
</script>

<script type="text/html" id="insere-produto-template">
    <div>
        <div class="view-imagem-grande">
            <li class="selected"><a href="#"><img class="item" src="{{ STATIC_URL }}website/img/item-1.jpg"></a></li>
            <a href="" class="view-muda-imagem">Mudar Imagem</a>
        </div>

        <div class="view-item-info">
            <form id="adicionar_produto" action="" method="post">
                {% csrf_token %}

                <ul class="view-campos">
                    <div class="view-campo">
                        <label for="id_nome">Nome:</label>
                        <input type="text" id="id_nome" value="" maxlength="50" required>
                    </div>
                    <div class="view-campo">
                        <label for="id_preco">Preço:</label>
                        <input type="number" id="id_preco" step="0.01" value="" required>
                    </div>
                    <div class="view-campo">
                        <label for="id_unidade">Unidade:</label>
                        <select id="id_unidade" name="unidade">
                            <option value="KG" selected>Quilograma</option>
                            <option value="CX">Caixa</option>
                            <option value="BD">Balde</option>
                            <option value="ML">Molho</option>
                            <option value="UND">Unidade</option>
                        </select>
                    </div>
                    <div class="view-campo">
                        <label for="id_category">Categoria:</label>
                        <select id="id_category" name="category">
                            <option value="F">Frutas</option>
                            <option value="LE">Legumes</option>
                            <option value="V">Verduras</option>
                            <option value="C">Carnes</option>
                            <option value="LA">Laticínios</option>
                            <option value="T">Temperos</option>
                            <option value="UT">Utilidades</option>
                            <option value="O" selected>Outros</option>
                        </select>
                    </div>
                    <div class="view-campo">
                        <label for="id_compra_minima">Compra Minima:</label>
                        <input type="number" id="id_compra_minima" step="0.01" value="" required>
                    </div>
                    <div class="view-campo">
                        <label for="id_granularidade">Granularidade:</label>
                        <input type="number" id="id_granularidade" step="0.01" value="" required>
                    </div>
                    <div class="view-campo">
                        <input type="checkbox" id="id_disponivel" checked>
                        <label for="id_disponivel">Disponível:</label>
                    </div>
                </ul>

                <ul class="view-item-acao">
                    <li>
                        <button type="submit" class="salvar" id="salvar">Salvar</button>
                    </li>
                </ul>

            </form>
            <!-- view-item-acao -->
        </div>
        <!-- view-item-info -->
        <a href="#0" class="fechar-view">Close</a>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {

        // Função específica de abrir a view de produto
        abrir_view_produto = function(obj) {

            var cd_quick_view = $('.view');

            cd_quick_view.find('div').remove();

            var template = $('#quickview-template').html();
            var cd_item = obj;

            var templateCompilado = template.replace(/__nome__/g, cd_item.data('nome'));
            templateCompilado = templateCompilado.replace(/__preco__/g, cd_item.data('preco'));
            if (cd_item.data('disponivel')) {
                templateCompilado = templateCompilado.replace(/__checked__/g, 'checked');
            } else {
                templateCompilado = templateCompilado.replace(/__checked__/g, '');
            }

            if(cd_item.data('unidade') == "KG") {
                templateCompilado = templateCompilado.replace(/selected__KG/g, 'selected');
            } else if(cd_item.data('unidade') == "CX") {
                templateCompilado = templateCompilado.replace(/selected__CX/g, 'selected');
            } else if(cd_item.data('unidade') == "BD") {
                templateCompilado = templateCompilado.replace(/selected__BD/g, 'selected');
            } else if(cd_item.data('unidade') == "ML") {
                templateCompilado = templateCompilado.replace(/selected__ML/g, 'selected');
            } else {
                templateCompilado = templateCompilado.replace(/selected__UND/g, 'selected');
            }

            templateCompilado = templateCompilado.replace(/selected__KG/g, '');
            templateCompilado = templateCompilado.replace(/selected__CX/g, '');
            templateCompilado = templateCompilado.replace(/selected__BD/g, '');
            templateCompilado = templateCompilado.replace(/selected__ML/g, '');
            templateCompilado = templateCompilado.replace(/selected__UND/g, '');


            if(cd_item.data('category') == "F") {
                templateCompilado = templateCompilado.replace(/selected__category_F/g, 'selected');
            } else if(cd_item.data('category') == "LE") {
                templateCompilado = templateCompilado.replace(/selected__category_LE/g, 'selected');
            } else if(cd_item.data('category') == "V") {
                templateCompilado = templateCompilado.replace(/selected__category_V/g, 'selected');
            } else if(cd_item.data('category') == "C") {
                templateCompilado = templateCompilado.replace(/selected__category_C/g, 'selected');
            } else if(cd_item.data('category') == "LA") {
                templateCompilado = templateCompilado.replace(/selected__category_LA/g, 'selected');
            } else if(cd_item.data('category') == "T") {
                templateCompilado = templateCompilado.replace(/selected__category_T/g, 'selected');
            } else if(cd_item.data('category') == "UT") {
                templateCompilado = templateCompilado.replace(/selected__category_UT/g, 'selected');
            } else {
                templateCompilado = templateCompilado.replace(/selected__category_O/g, 'selected');
            }

            templateCompilado = templateCompilado.replace(/selected__category_F/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_LE/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_V/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_C/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_LA/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_T/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_UT/g, '');
            templateCompilado = templateCompilado.replace(/selected__category_O/g, '');

            templateCompilado = templateCompilado.replace(/__criado__/g, cd_item.data('criado'));
            templateCompilado = templateCompilado.replace(/__ultima_modificacao__/g, cd_item.data('ultima_modificacao'));
            templateCompilado = templateCompilado.replace(/__compra_minima__/g, cd_item.data('compra_minima'));
            templateCompilado = templateCompilado.replace(/__granularidade__/g, cd_item.data('granularidade'));

            templateCompilado = templateCompilado.replace(/__imagem__/g,cd_item.data('url_imagem'));

            templObj = $(templateCompilado);

            cd_quick_view.append(templObj);

            $('#salvar').tooltipster({
                trigger: 'custom',
                onlyOne: false,
                position: 'top-left'
            });
        };

        //Função que é chamada quando a busca no servidor retorna uma lista de itens
        //É nessa função que eu insiro os itens na lista de itens, e é nela
        //que eu digo o que deve acontecer quando o usuário clicar no botão
        //de abrir o view
        callback_busca_produto = function (produtos) {

            $("#id_items").find("li").remove();

            $.each(produtos, function (chave, val) {
                var template = $('#item-template').html();
                var templateCompilado = template.replace(/__nome__/g, val.nome);

                if (val.disponivel) {
                    templateCompilado = templateCompilado.replace(/__display__/g, 'none');
                    templateCompilado = templateCompilado.replace(/__disponivel__/g, '');
                } else {
                    templateCompilado = templateCompilado.replace(/__display__/g, 'inline');
                    templateCompilado = templateCompilado.replace(/__disponivel__/g, 'INDISPONIVEL');
                }

                var templateCompilado = templateCompilado.replace(/__imagem__/g, val.url_imagem);

                obj = $(templateCompilado);

                $("#id_items").append(obj);


                //Aqui eu digo o que deve acontecer quando o usuário clicar pra abrir o view
                //A implementação de preparar_abrir_view, preparar_abrir_generico
                // e preparar_abrir_item, estão em items.js
                //Basicamente, quando o usuário clicar em 'obj' (que é o link
                // que aparece no item da lista, essas 3 funções (abrir_view_item, ...)
                // vão ser chamadas na ordem definida abaixo
                //O mesmo é feito para o atalho "inserir produto" em admin/barra.html e barra.js
                preparar_abrir_view(obj, abrir_view_item);
                preparar_abrir_view(obj, abrir_view_generico);
                preparar_abrir_view(obj, abrir_view_produto);

                obj.data({
                    'nome': val.nome,
                    'preco': val.preco,
                    'unidade': val.unidade,
                    'disponivel': val.disponivel,
                    'category' : val.category,
                    'criado' : val.criado,
                    'ultima_modificacao' : val.ultima_modificacao,
                    'compra_minima' : val.compra_minima,
                    'granularidade' : val.granularidade,
                    'url_imagem' : val.url_imagem
                });

            });

            $("#buscar_produto").html('Buscar Produtos');
            $("#buscar_produto").prop("disabled", false);
        };

        //Função que é chamada quando um produto é adicionado no servidor com sucesso
        callback_add_produto = function () {
            var s = $('#salvar');
            s.tooltipster('update', 'Produto inserido com sucesso');
            s.tooltipster('show');

            setTimeout(
                function () {
                    s.tooltipster('hide');
                }, 2000
            );
        };

        $('body').on('submit', "#adicionar_produto", function (ev) {
            ev.preventDefault();

            var nome = $("#id_nome").val(),
                preco = $("#id_preco").val(),
                unidade = $("#id_unidade").val(),
                disponivel = $("#id_disponivel").val(),
                category = $("#id_category").val(),
                compra_minima = $("#id_compra_minima").val(),
                granularidade = $("#id_granularidade").val(),
                url_imagem = $("#id_url_imagem").val();

            insere_produto(nome, preco, unidade, disponivel, category, compra_minima, granularidade, '{{ csrf_token }}', callback_add_produto);

        });

        //Quando o formulário de id "busca" envia
        $("#busca_produto").submit(function (ev) {
            $("#buscar_produto").prop("disabled", true);
            $("#buscar_produto").html('Buscando...');

            ev.preventDefault();

            var q = $("#id_q");

            if (q.val() === 0 || !q.val().trim()) {
				q.val("");
            }

            q.data({'old_query': q.val()});

            buscar('produto', q.val(), callback_busca_produto);



        });

        $("#busca_produto").submit();
    });
</script>

<form class="form-wrapper cf" id="busca_produto" method="get">

    <input type="text" name="q" id="id_q" placeholder="Termos da busca" value="">
    <button type="submit" id="buscar_produto">Buscar Produtos</button>

</form>


<ul class="cd-items view-container" id="id_items">

</ul>
